<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/killrush_fu?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">kilrush</property>
		<property name="hibernate.connection.password">QVPcftDdX7pq</property>
		<!-- jdbc connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>
		<!-- all executed SQL to stdout -->
        <property name="show_sql">true</property>
		<!-- second leve cache -->
<!--         <property name="hibernate.cache.use_second_level_cache">true</property> -->
<!--         <property name="hibernate.cache.use_query_cache">true</property> -->
<!--         <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
<!-- 		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property> -->
<!-- 		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
<!-- 		<property name="hibernate.cache.use_second_level_cache">true</property> -->
<!--         <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property> -->
<!--         <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
<!--         <property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property> -->
<!--         <property name="hibernate.cache.use_query_cache">true</property> -->
		
		<!-- mappings for annotated classes -->
        <mapping class="com.lab.jersey.model.User"/>
        <mapping class="com.lab.jersey.model.City"/>
        <mapping class="com.lab.jersey.model.Company"/>
        
	</session-factory>

</hibernate-configuration>